/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* FIN RESET */


body{
	background: url(../img/paris.jpg)  no-repeat center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
  	background-size: cover; /* version standardisée */;
	background-repeat: no-repeat;
	color: white;
	font-size: 1em;
	font-family: 'Poiret One', cursive;
	width: 100%;
	z-index: 3;

}
p{
	line-height: 1.6;
	font-size: 1.2em;
}
header h1, header h2{					/* Titre caché */
	text-indent: -9000px;
}

/*
.summary, .preamble{

	padding: 20px 15px;
	width: 35%;
	margin-left: 25.5%;

}*/
 .intro, .main{
	margin: 0 11%;
	width: 45em;
	background-color: rgba( 0, 0, 0, 0.7);
}
.intro p, .main p{
	padding: 0.5em 11%;
}
.summary{
	color:  #F8AFB7;
	text-align: center;
	font-size: 1.3em;
}
.preamble h3{
	padding-top: 3em;
	padding-bottom: 1.5em;
	margin: 0 7%;
	font-size: 1em;
}

.main h3{
	padding-top: 3.5em;
	padding-bottom: 2em;
	margin: 0 7%;
	font-size: 1.5em;
	font-family: 'Courgette', cursive;
}
.preamble h3, .summary p{
	font-family: 'Courgette', cursive;
	font-size: 1.5em;
}
.summary p{
	font-family: 'Courgette', cursive;
	font-size: 1em;
	padding-top: 2em;
}
.requirements{
	padding-bottom: 4em;
}
.requirements p{
	padding: 0.7em 11%;
}
/*
.preamble p, .main p, .participation p, .benefits p, .requirements p, .explanation p{  /*  Paragraphe
	background-color: #1B1612;
	opacity: 0.71;
	padding: 3px 5px;
	width: 35%;
	margin: 0 390px;
	font-size: 1.1em;
	padding: 1.5%;
}*/
/*
.preamble h3, .participation h3, .benefits h3, .requirements h3, .explanation h3{  /* TITRE
	background-color: #1B1612;
	opacity: 0.8;
	border-radius: 10px;
	padding: 3px 5px;
	width: 13%;
	font-size: 1.2em;
	padding: 10px 18px;
    margin: 21px 390px ;
}*//*
.design-selection nav{          /* Carré rose
	background-color: #D0939A;
	opacity: 0.9;
	padding: 24px;
	width: 16%;
	text-align: center;
	border-radius: 63px;
	top: 36em;
	right: 4%;
	position: fixed;
}*/
aside{
	font-size: 0.9em;
}
.design-selection, .zen-resources{				/* ARCHIVES RESSOURCES */
	background-color: rgba(208,147,154, 0.9);
	font-weight: bold;
}
.wrapper li{
	padding: 0.5em 0;
}

.design-selection{
	position: fixed;
	top: 29em;
	right: 2%;
	width: 18.5em;
	padding: 1em 0 2em 2%;
	border-radius: 63px;
}
.zen-resources, .design-archives{
	border-radius: 63px;
	padding-left: 1%;
	padding-top: 1.5em
}
.intro a:hover {
     padding-bottom: 0.1em;
    border-bottom: 1px solid white;
}
.zen-resources{
	z-index: 1;
	padding-bottom: 10em;
	padding-left: 1.5%;
	position: fixed;
	top: 1em;
	right: 7%;
	width: 9em;
}
.design-archives{
	position: fixed;
	top: 15.5em;
	right: 8%;
	width: 8em;
	z-index: 5;
	font-weight: bold;
	opacity: 0.9;

}
.sidebar h3{
	font-size: 1.2em;
	padding: 1em 13%;
}
.sidebar{
	margin-left: 0%;
}
a{
	color: #160708;
	text-decoration: none;
}
.intro a {
	color: #FFCD93;
}
.main a {
	color: #FFCD93;
}
.main a:hover{
	font-weight: bold;
}
.design-selection a:hover:before{
	content: "| ";
	font-weight: bold;
	color: white;
	margin-left: -2.9%;
}
.design-archives a:hover:before{
	content: "| ";
	font-weight: bold;
	color: white;
	margin-left: -6.9%;
}
.zen-resources a:hover:before{
	content: "| ";
	font-weight: bold;
	color: white;
	margin-left: -6%;
}
.designer-name:hover:before{
	content: unset;
}
footer a:hover{
	-moz-transform:  scale(1.3);
	-webkit-transform:  scale(1.3);
	-o-transform:  scale(1.3);
	-ms-transform:  scale(1.3);
	 transform:  scale(1.3);
}

li{
	padding: 0.3em;
}
footer a{
	display: block;
	padding: 1.2em;
	margin: 1.3em 1%;
}
footer{                              /* BARRE NAV language + position */
	background-color: rgba(255,205,147,0.4);
	border-radius: 63px;
	width: 3.7em;
	padding: 0.5em;
	position: fixed;
	top: 10em;
	left: 3.5%;
}
footer .zen-accessibility{
	width: 7px;
	height: 7px;
	color: black;
}
.zen-validate-html:hover, .zen-accessibility:hover, .zen-validate-css:hover, .zen-license:hover, .zen-github:hover{
	opacity: 1;
}
.zen-validate-html{                                                       /* SPRITE FOOTER*/
	background-image: url('../img/language.png');   /* SPRITE html */
	background-position: 4px -123px;
	background-size: 71px 224px;
	width: 14px;
	opacity: 0.5;
	height: 6px;
	text-indent: -1000px;
}
.zen-validate-css{
	background-image: url('../img/language.png');    /* SPRITE css */
	background-position: 151px 0px;
	background-size: 50px 168px;
	width: 14px;
	height: 6px;
	opacity: 0.5;
	text-indent: -1000px;
}
.zen-license{
	background-image: url('../img/language.png');   /* SPRITE CC */
	background-position: 0px -51px;
	background-size: 56px 205px;
	width: 14px;
	height: 13px;
	opacity: 0.5;
	text-indent: -1000px;
}
.zen-github{
	opacity: 0.5;
	background-image: url('../img/language.png');      /* SPRITE Github */
	background-position: 2px 51px;
	background-size: 52px 202px;
	width: 14px;
	height: 12px;
	text-indent: -1000px;
}
.zen-accessibility{
	opacity: 0.5;
	border: 3px solid black;
	background-image: url('../img/acc.png');
	background-repeat: no-repeat;
	background-position: 9px 1px;
	border-radius: 50%;
	background-size: 34px;
	text-indent: -1000px;
}
                                                                   /* FIN SPRITE FOOTER*/

@media (max-width: 1200px) {
  .intro, .main {
    width: 60%;
  }
  footer{
  	width: 3.5em;
  	left: 2.5%;
  }
}
@media (max-width: 1070px) {
	.intro, .main {
    width: 70%;
  }
	.wrapper li{
		display: inline-block;
	}
	.sidebar{
		margin-left: 2.9%;
		width: 81.3%;
	}
	.zen-resources,.design-selection, .design-archives{
		margin-left: 6em;
		padding: 0;

		position: unset;
		width: 86%;
		border-radius: unset;
	}
	.design-archives{
		background-color: rgba(208,147,154, 1);
		font-weight: bold;

	}
	.archives{
		font-weight: bold;
	}
	.design h3{
		padding: 0;
	}
	#design-selection ul, #design-archives nav{
		margin-left: 10%;
		width: 87%;
	}
	.zen-resources a{
		padding-right: 0.5em;
	}
	#zen-resources ul{
		padding-bottom: 4em;
		margin-left: 10%;
	}
	#design-selection ul li:after{
		content: ' - ';
	}
	.sidebar a:hover:before{
	content:none;
	margin: 0;
	}
	.design-selection nav a:hover, .zen-resources a:hover, nav ul li a:hover{
		margin: 0;
		font-style: italic;
	}

}
@media (max-width: 967px) {
	.sidebar{
		margin-left: 2.2%;
	}
}
@media (max-width: 815px) {
	.sidebar{
		margin-left: 0.5%;
	}
}
@media (max-width: 805px) {

	.intro, .main{
		margin: 0 6em;
		width: 85%;
	}
	#design-selection ul, #design-archives nav{
		width: 70%;
	}
	.design-archives{
		top: 59.5em;
		right: 63%;
	}
	.sidebar{
		width: 99%;
	}


}
@media (max-width: 617px) {
	.sidebar {
  margin-left: 1.3%;
}


@media (max-width: 541px) {
	#design-selection ul li:after {
    content: "  ";
    display: block;
}
@media (max-width: 465px) {
	.sidebar {
  margin-left: 2.2%;
}




}
